@import "../../node_modules/jquery-ui-dist/jquery-ui.css";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-select/sass/bootstrap-select";

body {
    background-color: ghostwhite;
    width: 100%;
    div.content-body {
        width: 95%;
        padding: 1em;

        ul.nav-tabs {
            //height: 10em;
            li.nav-item {
                width: 10%;
                padding: 0 0 0 0;
                text-align: center;
                a {
                    padding: 15px;
                    font-weight: bolder;
                }
            }
        }

        .map-content {
            width: 100%;
            .tab-content {
                width: 100%;
                .tab-pane {
                    width: 100%;
                    .echart-map {
                        width: 100em;
                        height: 50em;
                    }
                }
            }
        }
    }
}

.hide {
    display: none;
}

.custom-range {
    padding: .3em;
    height: .5em;
}

.spacer {
    height: 1em;
}
.range-value {
    color: #bb710e;
}

table {
    border-collapse: collapse;
    width: 100%;
    th, td {
        background: #fff;
        padding: 8px 16px;
    }

    tbody {
        background-color: #be6cbd;
        tr.grey {
            background-color: #908c88;
        }
        tr {
            td {
                &.dark-red {
                    color: #a91e1e;
                    font-weight: bolder;
                }
                &.red {
                    color: #fe1f00;
                    font-weight: bolder;
                }
                &.dark-orange {
                    color: #bb710e;
                    font-weight: bolder;
                }
                &.dark-yellow {
                    color: #908719;
                    font-weight: bolder;
                }
                &.dark-green {
                    color: #109120;
                    font-weight: bolder;
                }
                &.column-new-cases {
                    background-color: #f0ec90;
                }
                &.column-healed {
                    background-color: #215021;
                    color: whitesmoke;
                }
                &.column-new-healed {
                    background-color: #dffed1;
                }
                &.column-death {
                    background-color: #0a0202;
                    color: ghostwhite;
                }
                &.column-new-death {
                    background-color: #3d1213;
                    color: ghostwhite;
                }
            }
        }
    }

}

.tableFixHead {
    overflow: auto;
    height: 100px;
    thead th {
        position: sticky;
        top: 0;
    }
}
