body {
    background-color: ghostwhite;
    width: 100%;
    div.content-body {
        width: 95%;
        padding: 1em;

        ul.nav-tabs {
            //height: 10em;
            li.nav-item {
                width: 10%;
            }
        }

        .map-content {
            width: 100%;
            .tab-content {
                width: 100%;
                .tab-pane {
                    width: 100%;
                    .echart-map {
                        width: 100em;
                        height: 50em;
                    }
                }
            }
        }
    }
}

.hide {
    display: none;
}

.spacer {
    height: 1em;
}

table { border-collapse: collapse; width: 100%; }
th, td { background: #fff; padding: 8px 16px; }


.tableFixHead {
    overflow: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}